/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-grey: #242424;
  --mid-grey: #555;
  --light-grey: #999;
}

/* Page styles */
body {
  font-family: 'IBM Plex Sans KR', sans-serif;  font-size: 1rem;
  color: var(--dark-grey);
}

header {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--dark-grey);
}

nav img {
  width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 20px;
}

nav li a {
  color: var(--light-grey);
  text-decoration: none;
  font-weight: 400;
}

nav li a:hover {
  color:var(--dark-grey);
}


main {
  margin-top: 200px;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--dark-grey);
}
li a:hover {
  text-decoration: underline;
}

/* classes */
.margin-left-right-auto {
  margin-left: auto;
  margin-right: auto; 
}

.layout-center {
  text-align: center;
  padding: 3rem;
  margin: 0 auto;
}

.grid-repeat-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.text-align-left {
  text-align: left;
}

.background-blue-grad {
  /* background-color: #d7e2f5; */
  background-image: linear-gradient(135deg, #f5f7fa 10%,  #e8efff 100%);
}
.background-blue {
  background-color: #d7e2f5;
  color: white;
}
.background-grey {
  background-color: rgba(242, 242, 242, 0.807);
}
.background-white {
  background-color: white;
}
.color-light-grey {
  color: var(--light-grey);
}

.border-radius-round {
  border-radius: 20px;
  box-shadow: 0 8px 8px rgba(23, 23, 23, 0.077);
  padding: 3rem;

}

.hover-box-shadow:hover {
  cursor: pointer;
  box-shadow: 0 4px 22px rgba(23, 23, 23, 0.157);
}

.hover-box-shadow-without-cursor:hover {
  box-shadow: 0 4px 22px rgba(23, 23, 23, 0.157);
}

.btn {
  background-color: #719dea7e;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  color: var(--dark-grey);
}

.btn:hover {
  cursor: pointer;
  background-color: #4c85e88a;
  transition: 0.3s ease-in-out;

}

.margin-left {
  margin-left: 2rem;
}